 <!-- Footer Section Begin -->
 <footer class="bg-light py-5">
    <div class="container text-center">
        <div class="row justify-content-center">
            <!-- Contact Section -->
            <div class="col-md-2 mb-4">
                <h6 class="fw-bold">CONTACT</h6>
                <p class="mb-1">Monday to Friday 8 a.m - 5 p.m</p>
                <p class="mb-1"><i class="fas fa-phone"></i> +01 456 789</p>
                <p class="mb-1"><i class="fas fa-phone"></i> +01 567 890</p>
                <p class="mb-0"><i class="fas fa-envelope"></i> contact@kidify.com</p>
            </div>

            <!-- Company Section -->
            <div class="col-md-2 mb-4">
                <h6 class="fw-bold">COMPANY</h6>
                <ul class="list-unstyled text-">
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Our Experts</a></li>
                    <li><a href="#">Services & Price</a></li>
                    <li><a href="#">Latest News</a></li>
                    <li><a href="#">Support Center</a></li>
                </ul>
            </div>

            <!-- Customers Section -->
            <div class="col-md-2 mb-4">
                <h6 class="fw-bold">CUSTOMERS</h6>
                <ul class="list-unstyled">
                    <li><a href="#">Contact us</a></li>
                    <li><a href="#">Payment & Tax</a></li>
                    <li><a href="#">Bonus Point</a></li>
                    <li><a href="#">Supply Chain</a></li>
                    <li><a href="#">Student Discount</a></li>
                </ul>
            </div>

            <!-- Support Section -->
            <div class="col-md-2 mb-4">
                <h6 class="fw-bold">SUPPORT</h6>
                <ul class="list-unstyled">
                    <li><a href="#">Shipping Info</a></li>
                    <li><a href="#">Returns</a></li>
                    <li><a href="#">Refund</a></li>
                    <li><a href="#">How To Order</a></li>
                    <li><a href="#">How To Track</a></li>
                </ul>
            </div>

            <!-- Social Section -->
            <div class="col-md-2 mb-4">
                <h6 class="fw-bold">SOCIAL</h6>
                <ul class="list-unstyled">
                    <li><a href="#"><i class="fab fa-facebook"></i> Facebook</a></li>
                    <li><a href="#"><i class="fab fa-twitter"></i> Twitter</a></li>
                    <li><a href="#"><i class="fab fa-instagram"></i> Instagram</a></li>
                    <li><a href="#"><i class="fab fa-pinterest"></i> Pinterest</a></li>
                    <li><a href="#"><i class="fab fa-youtube"></i> YouTube</a></li>
                </ul>
            </div>
        </div>

        <hr>

        <!-- Bottom Section -->
        <div class="d-flex flex-column flex-md-row justify-content-between align-items-center">
            <p class="mb-2 mb-md-0">&copy; 2025 <span class="fw-bold text-primary">Kidify</span>. All rights
                reserved</p>

            <!-- Payment Logos Placeholder -->
            <div class="payment-icons">
                <img src="images/footerPaylogo.png" alt="Payment Methods" style="height: 30px;">
            </div>
        </div>
    </div>
</footer>



<!-- Js Plugins -->
<script src="js/jquery-3.3.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.nice-select.min.js"></script>
<script src="js/jquery.nicescroll.min.js"></script>
<script src="js/jquery.magnific-popup.min.js"></script>
<script src="js/jquery.countdown.min.js"></script>
<script src="js/jquery.slicknav.js"></script>
<script src="js/mixitup.min.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/main.js"></script>
</body>

</html>