<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Kidify e-commerce">
    <meta name="keywords" content="Kidify, kids,fashion, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" type="image/png" href="images/favicon.png">
    <title>Kidify || Home</title>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    
    <!-- for icons -->
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.4.2/css/all.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"> 

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap"
    rel="stylesheet">

    <!-- favicon -->
    <link rel="icon" type="image/png" href="images/favicon.png">

    <!-- Css Styles -->
     <link rel="stylesheet" href="css/kidify-navbarHeader.css" type="text/css">
     <link rel="stylesheet" href="css/kidify-footer.css">
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="css/style.css" type="text/css">
</head>

<body>
   
    <!-- Header Section Begin -->
    <nav class="navbar navbar-expand-lg bg-white shadow-sm px-4">
        <div class="container-fluid">
            <!-- Logo Placeholder -->
            <a class="navbar-brand" href="/">
                <img src="images/bgremovedlogo.png" alt="Logo Placeholder">
            </a>
    
            <!-- Toggle button for mobile view (placed on the right) -->
            <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-bars"></i> <!-- Explicit menu icon -->
            </button>
    
            <!-- Navbar Links -->
            <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link fw-bold" href="#">Home</a></li>
                    <li class="nav-item"><a class="nav-link fw-bold" href="#">About</a></li>
                    <li class="nav-item"><a class="nav-link fw-bold" href="/shop">Shop</a></li>
                    <li class="nav-item"><a class="nav-link fw-bold" href="#">Contact</a></li>
    
                    <!-- These menu items ONLY appear when screen width ≤ 992px -->
                    <li class="nav-item d-lg-none"><a class="nav-link" href="#">Account</a></li>
                    <li class="nav-item d-lg-none"><a class="nav-link" href="#">Wishlist</a></li>
                    <li class="nav-item d-lg-none"><a class="nav-link" href="#">Cart</a></li>
                    <%if(locals.user){ %>
                        <li class="nav-item d-lg-none"><a class="nav-link" href="/logout">Logout</a></li>


                    <%}else{%>

                        <li class="nav-item d-lg-none"><a class="nav-link" href="/signup">SignUp</a></li>
                        <li class="nav-item d-lg-none"><a class="nav-link" href="/login">Login</a></li>

                    <%}%>
                </ul>
            </div>
    
            <!-- Search Bar (Always Visible) -->
            <div class="search-container mx-3">
                <input type="text" class="form-control" placeholder="Search...">
                <i class="fas fa-search"></i>
            </div>
    
            <!-- Icons (Only Visible on Large Screens, Removed on Small Screens) -->
            <div class="d-none d-lg-flex align-items-center">
                <% if (locals.user) { %>  <!-- Check if a user is logged in -->
                    <div class="dropdown"> <!-- Dropdown menu for logged-in users -->
                        <a href="#" class="sign-in-link fs-5 fw-bold"><%= locals.user.name %></a> 
                        <!-- Display the logged-in user's name as a link -->
                        
                        <div class="dropdown-content"> <!-- Dropdown menu options -->
                            <a href="/logout" class="fs-5 fw-bold">Logout</a> 
                            <!-- Logout link to log the user out -->
                        </div>
                    </div> 
                <% } else { %>  <!-- If no user is logged in, show SignUp and Login buttons -->
                    
                    <a href="/signup" class="icon-btn">SignUp</a> 
                    <!-- Link to the signup page -->
                    
                    <a href="/login" class="icon-btn">Login</a> 
                    <!-- Link to the login page -->
                
                <% } %> <!-- End of if-else condition -->
                
                <a href="#" class="icon-btn"><i class="fas fa-user"></i></a>
                <a href="#" class="icon-btn position-relative">
                    <i class="fas fa-heart"></i>
                    <span class="badge rounded-circle">2</span>
                </a>
                <a href="#" class="icon-btn position-relative">
                    <i class="fas fa-shopping-bag"></i>
                    <span class="badge rounded-circle">5</span>
                </a>
            </div>
        </div>
    </nav>
    
    
    
    <!-- Header Section End -->